$base-text-color: black;
$base-font-size : 16px;
$base-font-family: Roboto, Helvetica, Arial, sans-serif;
$base-font-weight: 400;

$fixed-font-family: "monospace";
$fixed-font-size: 14px;
$fixed-line-height: 1.6;

$heading-font-family: $base-font-family;
$heading-font-weight: 900;

$quiet-color: #333;
$loud-color: black;

$link-color: #2240c2;
$link-hover-color: lighten($link-color, 15%);

$media-screen-break-small: 500px;
