h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family: $heading-font-family; font-weight: $heading-font-weight; }
h1, .h1, h2, .h2 { line-height: 1.1; }
h3, .h3, h4, .h4 { line-height: 1.3; }
h1, .h1 { font-size: 4em; letter-spacing: -2px; }
h2, .h2 { font-size: 2.5em; letter-spacing: -1px; }
h3, .h3 { font-size: 2em; }
h4, .h4 { font-size: 1.8em; }
h5, .h5 { font-size: 1.3em; }

.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }

.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.block-margins { margin: 1em 0; }

ul, .unordered-list { list-style-type: disc; }
ol, .ordered-list { list-style: decimal; }

p, .p {
  margin: 1em 0em;
}
