{
  "env": {
    "development": {
      "presets": ["es2017", "es2016", "es2015", "react"],
      "plugins": ["transform-runtime", "syntax-async-functions", "transform-regenerator", "react-hot-loader/babel"]
    },
    "production": {
      "presets": ["es2017", "es2016", "es2015", "react"],
      "plugins": ["transform-runtime", "syntax-async-functions", "transform-regenerator"]
    }
  }
}
